@media (max-width: 999px) {
  .heading {
    margin-bottom: 30px;
    width: 100% !important;

    h1 {
      font-size: 30px !important;

      span {
        font-size: 30px !important;
      }
    }
  }

  .form-page {
    padding: 40px 0px;

    .contain {
      padding: 30px 15px;
    }

    .section-contain,
    .section-seprate {
      padding-top: 20px !important;
      margin-top: 20px !important;
    }

    .button-contain {
      margin-top: 20px;
    }

    .heading {
      margin: 20px 0px !important;
    }
  }

  .form-contain .flex-data {
    flex-wrap: wrap;
  }

  .form-page .contact-info a.padding {
    padding: 0px !important;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .sub-header .socail-media li a {
    width: 30px;
    height: 30px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}